@font-face {
  font-family: "DoHyeon-Regular";
  src: url("./font/DoHyeon-Regular.ttf") format("truetype");
}

body::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: DoHyeon-Regular;
  display: initial;
}

.Header {
  margin-top: 2vh;
  background-color: #282c34;
  text-decoration: underline;
  text-underline-position: under;
  min-height: 10vh;
  max-height: 30vh;
  width: 50vw;
  margin-left: 25vw;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  color: white;
  text-shadow: 0.2vw 0.2vw #fbff00;
}

.imgholder {
  margin-top: 20vh;
  margin-bottom: 1vw;
  height: 10px+30vh;
  max-height: 50vh;
}

.textholder {
  display: flex;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 5vw;
  height: 10px+30vh;
  max-height: 10vh;
}

.imgtext {
  font-size: 5vw;
  width: 10vw;
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 5vh;
}

.Logo1 {
  width: 10vw;
  animation: fadein 2s;
  transform: rotate(360deg) 4s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  visibility: hidden;
  transition: 1s;
  box-shadow: 1vh 1vh 2vh#282c34;
  border-left: 3px;
}

.Logo1:hover {
  transform: rotate(360deg);
  transition: 1s;
  cursor: pointer;
  box-shadow: 0px 0px 0px;
}

.Logo1:active {
  transition: all ease-in-out 10s 0s;
  transform: rotate(72000deg);
  cursor: -webkit-grabbing;
}

.xImg {
  width: 5vw;
  height: 5vw;
  animation: fadein 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  visibility: hidden;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 0vh;
  transition: 1s;
  box-shadow: 1vh 1vh #282c34;
}

.xImg:hover {
  transform: rotate(360deg);
  transition: 1s;
  cursor: help;
  box-shadow: 0px 0px 0px;
}

.Logo2 {
  width: 10vw;
  animation: fadein 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  transition: 1s;
  border-radius: 45px;
  box-shadow: 1vh 1vh 2vh;
}

.Logo2:hover {
  transform: rotate(360deg);
  transition: 1s;
  cursor: pointer;
  box-shadow: 0px 0px 2px #282c34;
}

.Logo2:active {
  transition: all ease-in 10s 0s;
  transform: rotate(72000deg);
  visibility: hidden;
  cursor: -webkit-grabbing;
}

.Bar {
  height: 1vw;
  width: 46vw;
  margin-left: 27vw;
  margin-right: 27vw;
  margin-top: 8vh;
  align-items: center;
  flex-direction: column;
  border-width: 50vw;
  border-radius: 1vh;
  border-color: midnightblue;
  visibility: hidden;
  box-shadow: 0.2vw 0.2vw 10px rgb(43, 16, 124);
  animation: shorten 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.helper {
  color: black;
}

.helper:hover {
  font-size: 300%;
  color: rgb(43, 16, 124);
  text-shadow: 2px 2px 2px yellow;
}

@keyframes shorten {
  from {
    width: 100vw;
    margin-left: 0;
    visibility: visible;
  }
  to {
    width: 46vw;
    margin-left: 27vw;
    visibility: visible;
  }
}

/* !!!!!!!!! fullpage css*/

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}
/* 
.sectionHeader {
  height: 10vh;
} */

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  93% {
    transform: rotate(15deg);
  }
  96% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes littlewiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(15deg);
  }
  90% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10vw;
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  height: 3vh;
  margin-top: 1vh;
  position: relative;
  text-align: right;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

/* nav ul li a.active span,
nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
} */

/* .pg-horizontal nav {
  width: 100vw;
  left: 0;
  bottom: 20px;
}
.pg-horizontal nav ul li {
  float: left;
} */

/* !!!!!!! */

.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 17vh;
  height: 0px;
  width: 5vw;
  z-index: 1000;
  margin-left: 93vw;
  /* margin-right: 2vw; */
}

.nav-item {
  /* background-color: "blue"; */
  width: 3vw;
  text-align: center;
  font-size: 4vw;
  cursor: pointer;
  height: 10vh;
  border-radius: 2vw;
  background-color: #282c34;
  transition: height 0.2s ease;
  font-size: 3vh;
  color: ivory;
  line-height: 8vh;
  animation: wiggle 7s infinite;
  box-shadow: 0.2vw 0.2vw 10px black;
}

nav-item:last-of-type {
  margin-bottom: 0px;
}

.nav-item:hover {
  /* transform: rotate(10deg); */
  animation: none;
  transition: height 0.2s ease;
  height: 16vh;
  font-size: 3vh;
  cursor: pointer;
  /* border-width: 0.5vh; */
  /* border-style: solid; */
  /* border-color: black; */
  overflow: hidden;
}

#navtext {
  font-size: 2vw;
  margin: 0px;
  padding: 0px;
}

.v-text {
  padding: 0px;
  width: 1vw;
  margin-left: calc(2vw + 10px);
  padding-top: 3vh;
  /* padding-top: 1vh; */
  margin-bottom: 0vw;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: left;
  display: inline-flex;
}
.v-text:hover {
  height: 120%;
}

.wiggle {
  display: inline-block;
}

.wiggle:hover {
  animation: none;
}

.nav-items {
  font-size: 100%;
}

.nav .nav-content {
  text-decoration: double;
  max-width: 900px;
  /* padding: 0rem 3rem; */
  margin: 0 auto;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: 10vh;
}

@keyframes fadein {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

p.typing {
  /* position: relative; */
  /* display: inline-block; */
  height: 6vw;
  font-size: 5vw;
  overflow: hidden;
  animation: typingAni 3s steps(100, end);
}
p.typing::after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  animation: cursor 1s step-end infinite;
}

@keyframes typingAni {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Descript {
  /* font-style: italic; */
  text-decoration: underline;
  margin-bottom: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  animation: fadein 3s;
}

#des2 {
  text-shadow: 0.2vw 0.2vw 1px #c8ca49;
}
#des4 {
  text-shadow: 0.2vw 0.2vw 1px #0b500e;
}
#des5 {
  text-shadow: 0.2vw 0.2vw 1px #700202;
}
#des6 {
  text-shadow: 0.2vw 0.2vw 1px #838383;
}

.App-link {
  color: #61dafb;
}

.Contentdiv {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  /* height: "100vh"; */
}

#myMap {
  border-top-right-radius: 2vh;
  border-top-left-radius: 2vh;
  z-index: 1;
}

.ContentBox {
  width: 80vw;
  min-height: 70vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 20vh;
  border-width: 4vh;
  border-radius: 3vh 3vh 3vh 3vh;
  box-shadow: 0.4vw 0.4vw 3px #4b5466;

  align-items: center;
  justify-content: center;
  border: solid 1vh #282c34;
  /* background-color: midnightblue; */
  text-align: center;
}

#videobox {
  width: 80vw;
  min-height: 70vh;

  align-items: center;
  justify-content: center;
  border: solid 1vh #282c34;
  /* background-color: midnightblue; */
  text-align: center;
}

.ContentBox-Map {
  width: 80vw;
  height: 70vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 20vh;
  border-width: 4vh;
  border-radius: 3vh 3vh 3vh 3vh;
  box-shadow: 0.4vw 0.4vw 3px #ada30a;

  align-items: center;
  justify-content: center;
  border: solid 1vh #f7e600;
  /* background-color: midnightblue; */
  text-align: center;
}

.ContentBox-article {
  width: 80vw;
  min-height: 70vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 20vh;
  border-width: 4vh;
  border-radius: 3vh 3vh 3vh 3vh;
  box-shadow: 0.4vw 0.4vw 3px #4b5466;

  align-items: center;
  justify-content: center;
  border: solid 1vh #282c34;
  /* background-color: midnightblue; */
  text-align: center;
}

#changeButton {
  background-color: #fff;
  text-shadow: 1px 1px 1px rgb(43, 16, 124);
  border-width: 3px;
  border: double 1vh #f7e600;
  /* border-color: royalblue; */
  /* border-style: groove; */
  font-size: 200%;
  /* background-color: rgb(128, 118, 216); */
  /* box-shadow: 1vh 1vh 1vh rgb(43, 16, 124); */
}

#wordContainer {
  display: inline-block;
}

.word {
  font-size: 30px;
  float: left;
}

#word0 {
  color: #542e71;
}
#word1 {
  color: #fb3640;
}
#word2 {
  color: #04009a;
}

#changeButton:hover {
  border-color: #0b500e;
  animation: littlewiggle 0.5s;
  transition: all ease 1s 0s;
  border-color: red;
  color: red;
  text-shadow: 1px 1px 1px rgb(185, 17, 185);
}

#changeButton:active {
  transition: all ease 2s 0s;
  border-color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

.article_table {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2px;
}

#more {
  font-size: 120%;
  color: red;
  text-decoration: underline;
}
#article_title {
  font-size: 140%;
  color: #2db400;
}

#article_letter {
  font-size: min(160%, 15px);
}

#addForm {
  border-radius: 10px;
}

.one_table {
  width: 60vw;
  margin-left: 10vw;
  margin-right: 10vw;
  border-width: 10px;
  margin-top: 1vh;
}

.Commentsdiv {
  width: 60vw;
  align-items: center;
}

.TextBox {
  min-width: 10vw;
  margin-left: 0vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-width: 3px;
  border-style: double;
  box-shadow: 1px 1px 1px#282c34;
}

#name_td {
  font-size: 6px+1vh;
  width: 100px;
  max-width: 5vw;
  writing-mode: vertical-rl;
  padding: 2vw;
}

#submitBtn {
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.td-one {
  padding: 0px;
  margin: 0px;
  width: 0.1px;
}

.putBox {
  margin: 0px;
  padding: 0px;
}

.InputBox {
  margin-top: 0;
  padding: 0px;
  margin-bottom: 0;
  margin-left: 10vw;
  width: 80%;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 0.3vh;
  border-bottom-width: 1vh;
  border-radius: 3px;
}

.inputForm {
  margin-top: 1vh;
  border-width: 1vh;
  border-style: double;
  border-radius: 10px;
  border-color: black;
}

.showTable {
  margin-top: 3vh;
  border-width: 1vh;
  border-style: double;
  border-radius: 10px;
  border-color: black;
}
.refreshButton {
  margin-top: 2vh;
  width: 10vw;
  border-style: solid;
  border-color: black;
  border-width: 0.5vh;
  margin-bottom: 1vh;
}

.refreshButton:active {
  color: red;
  border-width: 1vh;
}

.scrollComments {
  background-color: #95999c;
  width: 60vw;
  height: 17vw;
  margin-top: 1vw;
  margin-left: 10vw;
  margin-right: 10vw;
  overflow: auto;
}

.commentTable {
  width: 60vw;
  border-radius: 2px;
}

.WordTitle {
  text-decoration: underline;
  width: 26vw;
  display: inline-block;
  text-align: center;
}

#title0 {
  color: #542e71;
}
#title1 {
  color: #fb3640;
}
#title2 {
  color: #04009a;
}

#middleIframe {
  margin-left: 1vw;
  margin-right: 1vw;
}

.vidFrame-1 {
  border-style: double;
  border-width: 10px;
  border-bottom-width: 10px;
  border-radius: 40px;
  border-color: #542e71;
}
.vidFrame-2 {
  border-style: double;
  border-width: 10px;
  border-bottom-width: 10px;
  border-radius: 40px;
  border-color: #fb3640;
}
.vidFrame-3 {
  border-style: double;
  border-width: 10px;
  border-bottom-width: 10px;
  border-radius: 40px;
  border-color: #04009a;
}

/* .vidFrame:first-of-type {
}

.vidFrame:nth-of-type(2) {
}

.vidFrame:last-of-type {
} */

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

.Footer {
  margin-top: 1px;
  font-size: 4vh;
  width: 96vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 5vh;
  height: 30vh;
  border-width: 4px;
  border-style: solid;
}

.Logosholder {
  display: flex;
}

.logos {
  width: 10vw;
  margin: 1vw;
  animation: fadein 2s;
  transform: rotate(360deg) 4s;
  animation-delay: 3s;
}

.logos:hover {
  transform: rotate(360deg);
  transition: 1s;
  cursor: pointer;
}

#comm {
  font-size: 200%;
  text-decoration: underline;
}

#copyright {
  margin-top: 8vh;
}
.tooltip {
  display: inline-block;
  color: deeppink;
  font-weight: bold;
}
.tooltip-text {
  display: none;
  position: absolute;
  max-width: 200px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: white;
  background: deeppink;
}
.tooltip:hover .tooltip-text {
  display: block;
}

.flip-horizontal-bottom {
  -webkit-animation: flip-horizontal-bottom 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-6-13 6:37:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
