@font-face {
  font-family: "DoHyeon-Regular";
  src: url("./font/DoHyeon-Regular.ttf") format("truetype");
}

.App {
  text-align: center;
  font-family: DoHyeon-Regular;
}

.Header {
  background-color: #282c34;
  min-height: 10vh;
  max-height: 30vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 12vw;
  color: white;
}

.LogoImg {
  min-height: 10vh;
  max-height: 30vh;
}

.xImg {
  margin-right: 10vh;
  margin-left: 10vh;
  padding-bottom: 5vh;
  min-height: 10vh;
  max-height: 20vh;
}

p.typing {
  /* position: relative; */
  /* display: inline-block; */
  height: calc(12vw);
  font-size: calc(10vw);
  overflow: hidden;
  animation: typingAni 3s steps(100, end);
}
p.typing::after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  animation: cursor 1s step-end infinite;
}

@keyframes typingAni {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Descript {
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App-link {
  color: #61dafb;
}

.Contentdiv {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  /* height: "100vh"; */
}

.ContentBox {
  width: 80vw;
  height: 75vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 20vh;
  justify-content: "center";
  border: solid 1vh #282c34;
  background-color: midnightblue;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
